<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :photo %>
    <%= f.input :first_name %>
    <%= f.input :middle_name %>
    <%= f.input :last_name %>
    <%= f.input :nickname %>
    <%= f.input :gender %>
    <%= f.input :date_of_birth %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to raw(t('.cancel', :default => raw(t("helpers.links.cancel")))),
                current_user.profile ? profile_path(current_user.profile) : root_path, :class => current_user.profile ? 'btn' : 'btn disabled' %>
  </div>
<% end %>
