<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div class="list-group">
  <% @users.each do |user| %>
    <a href="<%= profile_path(user.profile) %>" class="list-group-item">
      <div class="media">
        <%= image_tag user.profile.photo.url(:thumb), class: "pull-left img-responsive img-rounded image-thumb-64 media-object" %>
        <div class="media-body">
          <h4 class="media-heading"><%= user.profile.full_name %></h4>
          <%= user.email %>        
        </div>
      </div>
    </a>
  <% end %>
</div>
