<%- model_class = UserRole -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div class="list-group">
  <div class="list-group-item">
    <%= link_to raw(t('.new', :default => raw(t("helpers.links.new")))),
                new_user_role_path,
                :class => 'btn btn-primary' %>
  </div>
  <% @user_roles.each do |user_role| %>
    <a href="<%= user_role_path(user_role) %>" class="list-group-item">
      <strong class="list-group-item-heading"><%= user_role.name %></strong>
      <p class="list-group-item-text truncate"><%= user_role.description %></p>
    </a>
  <% end %>
</div>
