<%- model_class = Attachment -%>

<div class="list-group">
  <div class="list-group-item">
        <%= link_to raw(t('new',
                    :default => t("helpers.links.new"))),
                    new_post_attachment_path(params[:post_id]),
                    :class => 'btn btn-primary' %>
  </div>
    <% @attachments.each do |attachment| %>
    <div class="list-group-item">
      <strong class="list-group-item-heading"><%= link_to attachment.filename, post_attachment_path(params[:post_id], attachment) %></strong>
      <p class="list-group-item-text"><%= attachment.updated %> by <%= link_to "Nithyanand K N", "#" %></p>
    </div>
  <% end %>
  <div class="list-group-item">
    <%= paginate @attachments %>
  </div>
</div>
