<%= simple_form_for @school, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :building %>
  <%= f.input :street %>
  <%= f.input :locality %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :country, priority: [ "India" ], collection: [ "India", "Malaysia", "Singapore"] %>
  <%= f.input :postcode %>
  <%= f.input :phone %>
  <%= f.input :fax %>
  <%= f.input :email %>
  <%= f.input :currency, as: :radio_buttons, priority: [ "INR" ], collection: [ "INR", "MYR", "SGD", "USD"] %>
  <%= f.input :notes, label: 'About' , as: :text %>
  <%= f.input :image, label: 'Logo' %>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to raw(t('.cancel', :default => raw(t("helpers.links.cancel")))),
                schools_path, :class => 'btn' %>
  </div>
<% end %>
