<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div class="list-group">
  <div class="list-group-item">
    <%= link_to raw(t('.new', :default => raw(t("helpers.links.new")))),
                new_course_path,
                :class => 'btn btn-primary' %>
  </div>
  <% @courses.each do |course| %>
    <a href="<%= course_path(course) %>" class="list-group-item">
      <strong class="list-group-item-heading"><%= course.name %></strong>
      <p class="list-group-item-text truncate"><%= course.description %></p>
    </a>
  <% end %>
</div>
