<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div class="list-group">
  <div class="list-group-item">
    <%= link_to raw(t('views.new.both',
                :default => t("helpers.links.new"))),
                new_post_path,
                :class => 'btn btn-primary' %>
  </div>
  <% @posts.each do |post| %>
    <div class="list-group-item">
      <strong class="list-group-item-heading"><%= link_to post.title, post_path(post) %></strong>
      <p class="list-group-item-text"><%= post.updated %> by <%= link_to "Nithyanand K N", "#" %></p>
    </div>
  <% end %>
  <div class="list-group-item">
    <%= paginate @posts %>
  </div>
</div>
