<%- model_class = Post -%>
<div class="page-header">
  <h1><%= @post.title %></h1>
</div>

<div>
  <%= render :inline => @post.description %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Attachments</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <% @post.attachments.each do |attachment| %>
        <div class="list-group-item">
          <strong class="list-group-item-heading"><%= link_to attachment.filename, attachment.file.url %></strong>
          <p class="list-group-item-text"><%= attachment.updated %> by <%= link_to "Nithyanand K N", "#" %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="form-actions">
  <%= link_to raw(t('views.back.both',
                    :default => t("helpers.links.back"))),
              posts_path, :class => 'btn'  %>
  <%= link_to raw(t('views.edit.both',
                    :default => t("helpers.links.edit"))),
              edit_post_path(@post), :class => 'btn' %>
  <%= link_to raw(t('views.destroy.both', 
                    :default => t("helpers.links.destroy"))),
              post_path(@post),
              :method => 'delete',
              :data => { :confirm => t('views.confirm', 
                                        :default => t("helpers.links.confirm",
                                        :default => 'Are you sure?')) },
              :class => 'btn btn-danger pull-right' %>
  <%= link_to raw(t('views.attachments.both')),
              post_attachments_path(@post), :class => 'btn pull-right'  %>
</div>
